ion-card {
  margin-top: 1rem;
}

ion-list {
  margin-top: 1rem;
}

ion-item {
  --padding-start: 0;
  --padding-end: 0;
}

ion-text {
  display: block;
  text-align: center;
}

ion-segment {
  margin: 1rem 0;
}

.ion-margin-bottom {
  margin-bottom: 1rem !important;
}

.ion-text-center {
  text-align: center;
}
