.ion-text-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

ion-card {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

ion-icon {
  font-size: 4rem;
  margin-bottom: 1rem;
}

ion-text h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

ion-text p {
  font-size: 0.95rem;
  margin-bottom: 0.5rem;
}
