ion-card {
  h2 {
    margin: 10px 0 5px 0;
    font-size: 2rem;
    font-weight: bold;
  }

  p {
    margin: 5px 0;
  }
}

ion-fab-button {
  --background: var(--ion-color-primary);
}

ion-avatar {
  width: 60px;
  height: 60px;
}